<jhi-navbar></jhi-navbar>
<div class="player-update-main">
  <div class="sidebar">
    <jhi-sidebar></jhi-sidebar>
  </div>
  <div class="player-update">
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <h2 id="jhi-player-heading" data-cy="PlayerCreateUpdateHeading">Create or edit a User</h2>

          <div>
            <jhi-alert-error></jhi-alert-error>

            <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
              <label class="form-label" for="field_id">ID</label>
              <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_gamePlayCredits">Login</label>
              <input type="text" class="form-control" name="login" id="field_gamePlayCredits" data-cy="login" formControlName="login" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_tix">First Name</label>
              <input type="text" class="form-control" name="firstName" id="field_tix" data-cy="firstName" formControlName="firstName" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_comp">Last Name</label>
              <input type="text" class="form-control" name="lastName" id="field_comp" data-cy="lastName" formControlName="lastName" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_level">Email</label>
              <input type="text" class="form-control" name="email" id="field_level" data-cy="email" formControlName="email" />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_walletAddress">Image Url</label>
              <input
                type="file"
                class="form-control"
                name="imageUrl"
                id="field_walletAddress"
                data-cy="imageUrl"
                formControlName="imageUrl"
              />
            </div>

            <div class="row mb-3">
              <label class="form-label" for="field_walletAddress">Activated</label>
              <input
                type="text"
                class="form-control"
                name="activated"
                id="field_walletAddress2"
                data-cy="activated"
                formControlName="activated"
              />
            </div>
          </div>

          <div>
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
