<jhi-navbar></jhi-navbar>
<div class="player-details-main">
  <div class="sidebar">
    <jhi-sidebar></jhi-sidebar>
  </div>
  <div class="player-details">
    <div class="d-flex justify-content-center">
      <div class="col-8">
        <div *ngIf="user">
          <h2 data-cy="playerDetailsHeading"><span>User</span></h2>

          <hr />

          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <dl class="row-md jh-entity-details">
            <dt><span>ID</span></dt>
            <dd>
              <span>{{ user.id }}</span>
            </dd>
            <dt><span>Login</span></dt>
            <dd>
              <span>{{ user.login }}</span>
            </dd>
            <dt><span>First Name</span></dt>
            <dd>
              <span>{{ user.firstName }}</span>
            </dd>
            <dt><span>Last Name</span></dt>
            <dd>
              <span>{{ user.lastName }}</span>
            </dd>
            <dt><span>Email</span></dt>
            <dd>
              <span>{{ user.email }}</span>
            </dd>
            <dt><span>Activated</span></dt>
            <dd>
              <span>{{ user.activated }}</span>
            </dd>
          </dl>

          <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
          </button>

          <button type="button" [routerLink]="['/user', user.id, 'edit']" class="btn btn-primary">
            <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
